In [1]:

# 10.行数のカウント
import pandas as pd

df = pd.read_table('./popular-names.txt', header=None, sep=' ', names=['name', 'sex', 'number', 'year'])

print(len(df))

2780

In [8]:
# 12.1列目をcol1.txtに，2列目をcol2.txtに保存
df['name'].to_csv('col1.txt',index=False)
df['sex'].to_csv('col2.txt',index=False)

In [16]:
# 13. col1.txtとcol2.txtをマージ
col1 = pd.read_table('col1.txt')
col2 = pd.read_table('col2.txt')
merged_file = pd.concat([col1,col2],axis=1)
merged_file.to_csv('merged.txt',sep='\t',index=False)
print(merged_file)

           name sex
0          Mary   F
1          Anna   F
2          Emma   F
3     Elizabeth   F
4        Minnie   F
...         ...  ..
2775   Benjamin   M
2776     Elijah   M
2777      Lucas   M
2778      Mason   M
2779      Logan   M

[2780 rows x 2 columns]

In [26]:
# 14. 先頭からN行を出力
N = int(input())
print(df.head(N))

        name sex  number  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880

In [27]:
# 15. 末尾のN行を出力
N = int(input())
print(df.tail(N))

          name sex  number  year
2775  Benjamin   M   13381  2018
2776    Elijah   M   12886  2018
2777     Lucas   M   12585  2018
2778     Mason   M   12435  2018
2779     Logan   M   12352  2018

In [42]:
# 16. ファイルをN分割する
def split_file(N):
    tmp = df.reset_index(drop=False)
    df_cut = pd.qcut(tmp.index,N,labels=[i for i in range(N)])
    df_cut = pd.concat([df, pd.Series(df_cut, name='sp')], axis=1)
    return df_cut

df = pd.read_table('popular-names.txt',header=None, sep=' ', names=['name', 'sex', 'number', 'year'])
df_cut = split_file(10)
print(df_cut['sp'].value_counts())

0    278
1    278
2    278
3    278
4    278
5    278
6    278
7    278
8    278
9    278
Name: sp, dtype: int64

In [43]:
print(df_cut.head())

        name sex  number  year sp
0       Mary   F    7065  1880  0
1       Anna   F    2604  1880  0
2       Emma   F    2003  1880  0
3  Elizabeth   F    1939  1880  0
4     Minnie   F    1746  1880  0

In [44]:
# 17. １列目の文字列の異なり
print(len(df.drop_duplicates(subset='name')))

136

In [49]:
# 18. 各行を3コラム目の数値の降順にソート（inplace=Trueで元のオブジェクトを変更）
df_s = df.sort_values(by='number',ascending=False)
print(df_s.head())

         name sex  number  year
1340    Linda   F   99689  1947
1360    Linda   F   96211  1948
1350    James   M   94757  1947
1550  Michael   M   92704  1957
1351   Robert   M   91640  1947

In [52]:
# 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
print(df['name'].value_counts())

James      118
William    111
Robert     108
John       108
Mary        92
          ...
Julie        1
Laura        1
Walter       1
Lori         1
Rachel       1
Name: name, Length: 136, dtype: int64